extends ../layout.jade

append head
  link(href="resources/stylesheets/outreach.css", rel="stylesheet")

block content
  .container
    .col-xs-12.col-sm-offset-2.col-sm-8
      h3 Outreach
      p.
        Our lab engages in outreach efforts with the Hands-On-Lab, part of the 
        San Diego Science Project. These efforts are made possible through 
        funding from the National Science Foundation.
      
      .pictures  
        img(src="resources/images/outreach/introduction.jpg" class="img-responsive img-rounded").center
        p.caption.
          Graduate student Michael Hardy describing his research on vesicle 
          reproduction during a Lab tour with alumni members of the Hands-On-Lab, 
          part of the San Diego Science Project
          
        img(src="resources/images/outreach/communications.jpg" class="img-responsive img-rounded").center
        p.caption.
          Dr. Neal Devaraj is seen touring the lab with Hands-On-Lab members. 
        
        img(src="resources/images/outreach/SDSP.jpg" class="img-responsive img-rounded").center
        p.caption.
          Graduate student Christian Cole posing with a group of Hands-On-Lab members after a long day at work.
