extends ../layout.jade

block content
  .container
    .col-sm-1
    .col-sm-11
      h3 Research Overview
    .col-sm-1
    .col-sm-8
      p.
        As our molecular understanding of biology improves, new tools will be 
        needed to further probe and understand life at the molecular length 
        scale. Our interdisciplinary research group focuses on chemical biology 
        with an emphasis on developing novel reactions for addressing questions 
        in bottom-up synthetic biology and molecular imaging. 
        Below we summarize some of our research interests.
    .col-sm-2
      img(src="resources/images/research/vesicles.jpg" class="img-responsive img-rounded")
    .col-sm-1
