.devaraj-footer
  .container-fluid
    .col-sm-2.col-xs-12
      h6 AFFLIATIONS
      hr
      a(href="http://ucsd.edu/")
        img(src="resources/images/funding/UCSD.jpg" class="img-rounded")
    
    .col-sm-2.col-xs-12
      h6 SITE MAINTAINED BY
      hr
      p: a(href="https://github.com/jezhou").
        Jesse Zhou, UCSD 2017
    
    .col-sm-2.col-xs-12
      h6 CONTACT THE LAB
      hr
      p Phone: (858) 534-9582
      p: a(href="contact/") More information
    
    .col-sm-2.col-xs-12
      h6 INTERNAL
      hr
      p: a(href="") Ordering database and lab resources
    
    .col-sm-4.col-xs-12.nameplate.hidden-xs
      h5 UCSD Devaraj Group
      p: a(href="http://www-act.ucsd.edu/maps/?lat=32.87561000000001&lng=-117.24131999999997&t=roadmap&z=18&p=&r=100&v=3&wid=2121313668898469&q=Urey+Hall+(UREY)&qr=100"). 
        Urey Hall 4120
      p UCSD Chemistry and Biochemistry
    
    
