.devaraj-footer
  .container-fluid
    .col-sm-2.col-xs-12
      h6 AFFLIATIONS
      hr
      img(src="resources/images/funding/UCSD.jpg" class="img-rounded")
    
    .col-sm-2.col-xs-12
      h6 SITE MAINTAINED BY
      hr
      p: a.
        Jesse Zhou, UCSD 2017
    
    .col-sm-2.col-xs-12
      h6 CONTACT THE LAB
      hr
      p Phone: (858) 534-9582
      p: a More information
    
    .col-sm-2.col-xs-12
      h6 INTERNAL
      hr
      p: a Ordering database and lab resources
    
    .col-sm-4.col-xs-12.nameplate.hidden-xs
      h5 UCSD Devaraj Group
      p: a Urey Hall 4120
      p UCSD Chemistry and Biochemistry
    
    
