nav(class='navbar navbar-default navbar-fixed-top')
  .container
    div(class='navbar-header')
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#sitepaths" )
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="") Devaraj Lab
    
    div(class="collapse navbar-collapse", id="sitepaths")
      ul(class="nav navbar-nav navbar-right")
        li
          a(href="") Home
        li
          a(href="research") Research
        li
          a(href="papers") Papers
        li
          a(href="people") People
        li
          a(href="news") News
        li
          a(href="outreach") Outreach
        li
          a(href="funding") Funding
