nav(class='navbar navbar-default navbar-fixed-top')
  .container
    div(class='navbar-header')
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#sitepaths" )
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand") Devaraj Lab
    
    div(class="collapse navbar-collapse", id="sitepaths")
      ul(class="nav navbar-nav navbar-right")
        li
          a(href="" target="_self") Home
        li
          a(href="research/" target="_self") Research
        li
          a(href="papers/" target="_self") Papers
        li
          a(href="outreach/" target="_self") People
        li
          a(href="news/" target="_self") News
        li
          a(href="outreach/" target="_self") Outreach
        li
          a(href="funding/" target="_self") Funding
