.container-fluid
  .col-sm-2.col-md-3
  .col-sm-8.col-md-6
    #slides.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#slides', data-slide-to='0')
        li(data-target='#slides', data-slide-to='1')
        li(data-target='#slides', data-slide-to='2')
        li(data-target='#slides', data-slide-to='3')
      .carousel-inner

        .item.active
          img(src='resources/slides/slide_1.jpg', alt='Geisel')

        .item
          img(src='resources/slides/slide_2.jpg', alt='Lab')
          
        .item
          img(src='resources/slides/slide_3.jpg', alt='Equipment 1')
          
        .item
          img(src='resources/slides/slide_4.jpg', alt='Equipment 2')

      a.left.carousel-control(href='#slides', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#slides', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
