h1(class="page-header frontpage-h1") ABOUT THE LAB

.about-text
  p.
    The Devaraj Lab at UCSD focuses on the design of chemoselective 
    reactions for addressing problems in bottom-up synthetic biology 
    and molecular imaging.

.about-pic
  img(src="resources/images/people/Neal.png" class="img-responsive img-rounded")
  p(style="margin-bottom:0") Neal K. Devaraj, Ph.D 
  p: em Principal Investigator
  
a(class="btn btn-sm btn-primary btn-block" href="joining/" role="button").
  Want to join the Devaraj lab?
