h1(class="page-header frontpage-h1") RESEARCH: IN FOCUS

.embed-responsive.embed-responsive-16by9
  iframe(src="https://player.vimeo.com/video/86545273")
p Tetrazine Reaction

.embed-responsive.embed-responsive-16by9
  iframe(src="https://player.vimeo.com/video/86545274")
p Synthetic Vesicle Growth

a(class="btn btn-sm btn-primary btn-block" href="research/" role="button").
  Read more
