extends ../layout.jade

append head
  link(href="resources/stylesheets/funding.css", rel="stylesheet")

block content
  .container
    .col-xs-12.col-sm-offset-2.col-sm-8
      h3 Funding
      
      p Our group gratefully acknowledges the following funding sources

      p NIH (NIBIB) - K Career Development Award

      p NSF (CHE) - CAREER Award

      p DOD (ARO) - MURI Award

      p Seed Funding from the NIH supported San Diego Center Systems Biology

      p Pilot funding from the NIH supported Diabetes and Endocrinology Research Center

      p American Cancer Society Institutional Research Grant 70-002 provided through the Moores Cancer Center, University of California, San Diego 

      p University of California, San Diego
      
      .pictures
        img(src="resources/images/funding/ARO.jpg" class="img-responsive img-rounded").fundpic
        img(src="resources/images/funding/DOD.jpg" class="img-responsive img-rounded").fundpic
        img(src="resources/images/funding/NIBIB.jpg" class="img-responsive img-rounded").fundpic
        img(src="resources/images/funding/NIH.jpg" class="img-responsive img-rounded").fundpic
        img(src="resources/images/funding/NSF.jpg" class="img-responsive img-rounded").fundpic
        img(src="resources/images/funding/UCSD.jpg" class="img-responsive img-rounded").fundpic
      
    
    
