body { padding-top: 70px; }

.devaraj-footer{
  bottom:0;
  width:100%;
  background-color: #d0e8fb;
  color: black;
  text-align: center;
}

.devaraj-footer hr{
  border: 0;
  height: 2px;
  background: #efa735;
  margin-top: 0;
  margin-bottom: 10px;
}

.devaraj-footer img{
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}

.devaraj-footer .nameplate h5{
  text-align: right;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.devaraj-footer .nameplate p{
  text-align: right;
  margin-bottom: 0;
}

body > hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
