.frontpage-h1{
  font-size: 170%;
}

#neal-devaraj{
  float: left;
}

.about-text{
  float: left;
  width: 65%;
  padding-right: 10px;
}

.about-pic{
  font-size: 90%;
  color: #2196f3;
  float: left;
  width: 35%;
  text-align: center;
}

.btn-block{
  float: left;
}

.publication{
  margin-bottom: 10px;
  float: left;
}

.publication:hover{
  border-right: 2px solid #2196f3;
  margin-right: -2px;
}

.pub-cover{
  margin-right: 5%;
  display: inline-block;
  width:20%;
  float: left;
}

.pub-cite{
  width:75%;
  display: inline-block;
  float: right;
}

a .pub-cite{
  color: black;
}
